:root{
    --bg-color-secundary: #1c1c1c;
    --color-primary: #131212;
    --color-secundary:#1c1c1c;
    --text-color-primary: #fafafa;
    --icons-color-primary: #cecece;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #4400ff, #1c1c1c);
    overflow: hidden;
}

i{
    color: #cecece;
    cursor: pointer;
    margin: 5px;
    transition: .5s;
}

i:hover{
    color: #5b1ffd;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.panel{
    background-color: #131212;
    height: 40rem;
    width: 20rem;
}

.profile-information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.name-profile{
    font-size: 20px;
    color: #fafafa;
}

.icons-social-network{
    margin: 5px;
}

.panel-division{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c1c1c;
    height: 27rem;
    border-radius: 40px 40px 5px 5px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.buttons p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    border: 1px solid #fafafa;
    height: 3rem;
    width: 17rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.buttons p:hover{
 background-color: #4400ff;
 box-shadow: 5px 5px 5px #0e0d0d;
}

.create-by{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.create-by i{
    color: #4a4a4a;
    transition: .5s;
}

.create-by i:hover{
    color: #2b2a2a;
}